/KAutoTS/obj
/KAutoTS/bin/x86Release/*.exe
/KAutoTS/bin/x86Release/*.config
/KAutoTS/bin/x86Release/*.pdb
/KAutoTS/bin/x86Release/log_files/*.txt
/KAutoTS/obj/Debug/*.exe
/KAutoTS/bin/Debug/*.pdb
/KAutoTS/bin/Debug/*.exe
/KAutoTS/bin/Debug/*.config
/*.suo
